<div class="col-md-12">
  <div class="jumbotron">
    <h1> Dashboard </h1>
    <p> Welcome back <%= current_user.name %>! </p>
  </div>
  <div class="jumbotron">
    <div class="btn-group" role="group">



        <div class="btn-group-vertical">
          <% @plant_auth.each do |rows, columns| %>
            <%= link_to columns, sensor_v1_env_datum_path(rows), :class => "btn" %>
          <% end %>
        </div>



  </div>
</div>
