<div class="col-md-12">
  <div class="jumbotron text-center">
    <h1> Dashboard </h1>
    <p> Welcome back <%= current_user.name %>! </p>
  </div>
    <div class="container-fluid col-sm-3">
      <% @plant_auth.each do |rows, columns| %>
        <%= link_to columns, sensor_v1_env_datum_path(rows), :class => "btn btn-primary btn-lg btn-block" %>
      <% end %>
    </div>
    <div class="container-fluid col-sm-9">
        <%= bar_chart Plant.joins("INNER JOIN env_data ON env_data.record_time = plants.last_record").where(owner_id: current_user.id).group(:name).sum(:soil_conduct) %>

    </div>
</div>
