<div class="col-md-12">
  <div class="jumbotron text-center">
    <h1> Dashboard </h1>
    <p> Welcome back <%= current_user.name %>! </p>
  </div>
    <div class="container-fluid col-sm-3">
      <% @plant_auth.each do |rows, columns| %>
        <%= link_to columns, sensor_v1_env_datum_path(rows), :class => "btn btn-primary btn-lg btn-block" %>
      <% end %>
    </div>
    <div class="container-fluid col-sm-9">
      

    </div>
</div>
