<div class="col-md-12">
  <div class="jumbotron">
    <h1> Green Thumb </h1>
    <p> Track your house plant's health! </p>
    <% if user_signed_in? %>
      <p> <%= link_to "Dashboard", root_path, class: 'btn btn-primary btn-lg' %></p>

    <% else %>
      <p> <%= link_to "Create Account", new_account_path, class: 'btn btn-primary btn-lg' %></p>
    <% end %>
  </div>
</div>
