<div class="col-md-12">
  <div class="jumbotron">
    <h1> Green Thumb </h1>
    <p> Track your house plant's health! </p>
    <p> <%= link_to "Create Account", new_account_path, class: 'btn btn-primary btn-lg' %></p>
  </div>
</div>
