<div class="col-md-12">
  <div class="jumbotron">

    <h2> <%= @plant.name %> Status</h2>

  </div>
    <div class="container-fluid col-sm-*">
      <h2> Soil Conductivity</h2>
      <%= line_chart @env_info.group_by_hour(:record_time).maximum(:soil_conduct) %>

      <h2>Temp</h2>
      <%= line_chart @env_info.group_by_hour(:record_time).maximum(:temp) %>

      <h2>Light</h2>
      <%= line_chart @env_info.group_by_hour(:record_time).maximum(:light) %>
    </div>

</div>
